Sum:
<input type="text" id="sum_field_1" />
+
<input type="text" id="sum_field_2" />
<input type="button" value="=" id="sum_submit" />
<span id="sum_result" ></span>

<hr>

Subtraction:
<input type="text" id="subtraction_field_1" />
-
<input type="text" id="subtraction_field_2" />
<input type="button" value="=" id="subtraction_submit" />
<span id="subtraction_result" ></span>

<hr>

Division:
<input type="text" id="division_field_1" />
/
<input type="text" id="division_field_2" />
<input type="button" value="=" id="division_submit" />
<span id="division_result" ></span>

<hr>

Square root:
<input type="text" id="square_root_field" />
<input type="button" value="=" id="square_root_submit" />
<span id="square_root_result"></span>

<hr>

Cube root:
<input type="text" id="cube_root_field" />
<input type="button" value="=" id="cube_root_submit" />
<span id="cube_root_result"></span>

<hr>

Sinus:
<input type="text" id="sinus_field" />
<input type="button" value="=" id="sinus_submit" />
<span id="sinus_result"></span>

<hr>

Cosinus:
<input type="text" id="cosinus_field" />
<input type="button" value="=" id="cosinus_submit" />
<span id="cosinus_result"></span>

<hr>